<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/listStyles.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div class="users">
    <div class="users-body">
        <table class="redTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user:${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.roles}"></td>
                    <td th:text="${user.password}"></td>
<!--                    <td><a th:href="@{'/users/delete/'+${user.id}}" th:text="${user.id}">Delete</a></td>-->
<!--                    <td><form th:action="@{'/users/delete/'+${user.id}}" th:method="DELETE"><input type="submit" value="Done!"/></form></td>-->
                    <td>


                        <a th:href="@{'/users/delete/'+${user.id}}" class="btn btn-danger" role="button">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>